

.cuentacorriente-container h2 {
    text-align: center; /* Centra el título */
}

.cuentacorrientedate-container {
    display: flex; /* Alinea los campos de fecha en una fila */
    justify-content: space-between; /* Espacio entre los campos */
    margin-bottom: 15px; /* Espacio inferior para separación */
    width: 100%; /* Asegura que los divs de los inputs ocupen el mismo ancho */
    margin: 10px;
}
.datoscliente-reporte{
    width: 100%; /* Asegura que los divs de los inputs ocupen el mismo ancho */
    margin: 10px;
}
.date-field {
    flex: 1; /* Ambos campos ocupan el mismo ancho */
    margin-right: 10px; /* Espacio a la derecha */
}

.date-field:last-child {
    margin-right: 0; /* Elimina el margen derecho del último campo */

}

.cuentacorriente-container label {
    display: block; /* Asegura que el label ocupe todo el ancho */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    margin-bottom: 5px; /* Espacio inferior */
    text-align: left; /* Alineación del texto a la izquierda */
}

.cuentacorriente-container input,
.cuentacorriente-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0f0f0; /* color de fondo claro */
    color: gray;
}

.cuentacorriente-container button {
    width: 100%; /* Botón ocupa todo el ancho */
    padding: 10px; /* Espacio interno */
    background-color: #143361; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-top: 10px; /* Espacio superior */
}

.reporte-container button:hover {
    background-color: #007bff; /* Cambia el color al pasar el mouse */
}

/* Estilos adicionales para el campo Cliente */
.Cliente_Label {
    margin-bottom: 10px; /* Espacio inferior */
}
